.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-top: 1em;
  flex: 1;
  overflow: hidden;
  z-index: 5;
}
.input-area-container {
  flex-shrink: 0;
  place-items: center;
}
#masonry-wrapper {
  width: 99%;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: .7em;
  padding-bottom: .3em;
  border-top: 1px solid #d8d8d8;
}
#masonry-scrollable-div {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: .4em 1.5em;
}
span#no-notes-text {
  display: block;
  place-self: center;
  margin: 10% 0;
  font-size: 2em;
  color: #B8B8B8;
}
.masonry-grid {
  position: relative;
  display: flex;
  gap: 1em;
}
.masonry-grid-column {
  background: transparent;
}
.blur-notes-container {
  filter: blur(4px);
}
.z-full {
  z-index: 99;
}
@media (max-width: 500px) {
  .masonry-grid-column {
    justify-content: center;
  }
}
@media (max-width: 823px) {
  .body {
    gap: 1.6rem;
  }
}
@media (max-width: 727px) {
  .notes-container {
    padding: 1rem;
  }
}
