.note {
  position: relative;
  height: fit-content;
  width: 100%;
  box-shadow: 0 0 3px 0 #a7a7a7;
  background-color: #fff;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1em;
  transition: box-shadow 0.3s linear;
}
.note:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 0 #808080;
}
.note .note-paragraph {
  text-align: justify;
}

div.feature-icons-container {
  margin-top: 1em;
}
section.feature-icons {
  width: fit-content;
  float: right;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1em;
  padding: 0 .7em;
  transition: all .3s linear;
}
.feature-icons .icons {
  font-size: 1.25em;
  cursor: pointer;
  transition: all 0.2s linear;
}
.feature-icons .icons:hover {
  transform: scale(1.1);
}
.color-pallete {
  position: absolute;
  z-index: 99;
  top: 95%;
  left: 10%;
  display: flex;
  border-radius: 0.5em;
  padding: 0.3em 0.7em;
  width: fit-content;
  background: #f8f8f8;
  box-shadow: 0 0 3px grey;
}
.color-pallete:hover {
  cursor: default;
}
.predefined-colors {
  display: flex;
  align-items: center;
  gap: 0.4em;
  padding: 0 1em;
}
.predefined-colors > * {
  cursor: pointer;
}
.color-picker-container {
  position: relative;
  display: inline-block;
}
.predefined-colors div.color {
  width: 36px;
  height: 36px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all .3s linear;
}
.predefined-colors div.color:hover {
  border: 2px solid #000;
}
.color-pallete .color-picker {
  opacity: 0;
  width: 30px;
  height: 30px;
  background: none;
  clip-path: circle(35%);
}
.color-pallete .color-picker:hover {
  border: none;
}
.color-picker-container .color-picker-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: none;
  color: #000;
  border: 2px solid #707070;
  border-radius: 50%;
  padding: 2px;
  font-size: 2.2em;
  transition: all .3s linear;
}
.color-picker-container .color-picker-icon:hover {
  border: 2px solid #000;
}
.hide-color-pallete {
    display: none;
}
.grid-item.note {
  transition: transform .3s ease-in-out;
}

input#edit-title {
  font-size: 1.3em;
  font-weight: bold;
}

textarea#edit-desc {
  resize: none;
  min-height: 10rem;
  line-height: 1.5em;
  font-size: 1.1em;
}
input#edit-title:hover,
input#edit-title:focus,
textarea#edit-desc:hover,
textarea#edit-desc:focus {
  border-bottom: 1px solid #696969;
}
button.save-edit-button {
  align-self: flex-end;
  margin-top: .7em;
}
.focus-note {
  transform: scale(1.2);
  z-index: 100;
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  box-shadow: 0 0 5px 0 #808080;
}
@media (max-width: 727px) {
  .note .note-heading {
    font-size: 1.1em;
  }
  .note .note-paragraph {
    font-size: 0.9em;
  }
}
